

<h1 class="my-4">{{pageHeader}}</h1> <!-- used to display categories such as tags -->
{{#each posts}}
	<!-- Blog Post -->
	<div class="card mb-4">
		<img class="lozad card-img-top"
		     src="{{this.default_loading_image}}"
		     data-src="{{this.featured_image_url}}" alt="image post">
		<div class="card-body">
			<h2 class="card-title">{{this.title}}</h2>
			<p class="card-text">{{this.summary}}</p>
			<a href="/post/{{this.title_seo}}" class="btn btn-primary">Read More →</a>
		</div>
		<div class="card-footer text-muted">
			Posted on {{this.created_at_friendly}}
		</div>
	</div>
{{/each}}

