<!doctype html>
<html lang="es">
<head>

	<link rel="preconnect" href="//stackpath.bootstrapcdn.com" crossorigin>
	<link rel="preconnect" href="https://res.cloudinary.com" crossorigin>

	{{#if isProduction}}
		<!--Global site tag (gtag.js) - Google Analytics-->
		<link rel="preconnect" href="//googletagmanager.com" crossorigin>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-LZPNWKQF6F"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-LZPNWKQF6F');
		</script>

		{{#if adsenseEnabled}}
			<!-- Adsense -->
			<script data-ad-client="ca-pub-9559827534748081" async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<script async="" custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
		{{/if}}
	{{/if}}

	<title>{{title}}</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="Cache-control" content="public, max-age=50000">
	<meta name="theme-color" content="#009900">
	<!-- TODO -->
	<meta name="msapplication-square310x310logo" content="https://res.cloudinary.com/dniiru5xy/image/upload/v1590952431/javaniceday.com/favicon.jpg">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Andres Canavesi">
	<meta name="language" content="en">
	<meta name="keywords" content="safety,babies">
	<meta name="robots" content="Index, Follow">
	<meta property="og:locale" content="es_ES">
	<meta property="og:type" content="article">
	<meta property="og:site_name" content="Andres Canavesi">
	<meta property="article:publisher" content="Andres Canavesi">
	<meta property="article:author" content="Andres Canavesi">
	<meta name="title" content="{{title}}">
	<meta name="description" content="{{description}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{linkToThisPage}}">
	<meta property="og:image" content="{{pageImage}}">
	<meta property="article:modified_time" content="{{pageDateModified}}">


	<!-- Bootstrap CSS -->
	<link id="bootstrapCss" as="style" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link id="stylesCss" as="style" rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

<!--Main Navigation-->
<header>

	<nav class="navbar navbar-expand-lg navbar-light bg-light my-nav-custom">
		<a class="navbar-brand" href="/"><strong>safety-mom.com</strong></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
		        data-target="#navbarSupportedContent" onclick="toggleNavbar()"
		        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/all/posts">Posts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/all/tags">Tags</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/post/about">About</a>
				</li>
			</ul>
		</div>
	</nav>

</header>
<!--Main Navigation-->


<!-- Page Content -->
<div class="container pt-4">

	<div class="row px-2 my-3">
		<input id="search" class="form-control" type="text" value="{{searchText}}"
		       onkeyup="search(event, this)" placeholder="Buscar..." aria-label="Search">
	</div>
	<div class="row">

		<div class="col-md-2">

		</div>

		<!-- Post Content Column -->
		<div class="col-lg-8">

			{{{body}}}

		</div>

	</div>
	<!-- /.row -->

	<div class="row px-2 my-3">
		{{#if showRelatedPosts}}
			<div id="related" class="mt-5">
				<h2 class="border-bottom mb-4">Leer más</h2>
				<div class="card-columns">
					{{#each relatedPosts}}
						<div class="card border-0">
							<img class="lozad card-img-top"
							     src="{{this.default_thumb_loading_image}}"
							     data-src="{{this.thumb_image_url}}" alt="image post">
							<div class="card-body">
								<a href="/post/{{this.title_seo}}">
									{{this.title}}
								</a>
								<p class="card-text">
									<small class="text-muted">Hace 3 dias</small>
								</p>
							</div>
						</div>
					{{/each}}
				</div>

			</div>
		{{/if}}
		<!-- END related posts -->
	</div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark mt-3">
	<div class="container">
		<p class="m-0 text-center text-white">Copyright &copy;
			<a href="/" class="text-decoration-none "><span class="text-white">www.safety-mom.com</span></a></p>
	</div>
	<div class="container">
		<div class="text-center mt-3 text-muted">
			<a href="/all/posts" class="text-decoration-none "><span class="text-muted">posts</span></a>
			|
			<a href="/all/tags" class="text-decoration-none "><span class="text-muted">tags</span></a>
			|
			<a href="/all/search" class="text-decoration-none "><span class="text-muted">search terms</span></a>
			|
			<a href="/sitemap.xml" class="text-decoration-none "><span class="text-muted">sitemap</span></a>
		</div>

	</div>
	<!-- /.container -->
</footer>

<script type="text/javascript" async="true" src="/javascripts/common.js"></script>

<!-- lazy loading images -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

<script src="https://unpkg.com/feather-icons"></script>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function(event) {

		feather.replace();

		// to load images in a lazy way
		// lazy loads elements with default selector as '.lozad'
		const observer = lozad();
		observer.observe();
	});
</script>

</body>
</html>
