
      <script async="async" defer="true" charset="UTF-8" type="application/ld+json">
          {
          "@context":"http://schema.org",
          "@type": "BlogPosting",
          "image": "{{post.featured_image_url}}",
          "url": "{{post.linkToThisPage}}",
          "headline": "{{post.title}}",
          "dateCreated": "{{post.created_at_friendly_2}}",
          "datePublished": "{{post.created_at_friendly_2}}",
          "dateModified": "{{post.updated_at_friendly_2}}",
          "inLanguage": "en-US",
          "author": {
            "@type": "Person",
            "name": "Andres Canavesi",
            "url": "https://www.javaniceday.com"
          },
          "mainEntityOfPage": "True",
          "keywords": "{{post.tags}}",
          "articleBody": "{{post.summary}}",
          "publisher": {
            "@type": "Organization",
            "name": "Andres Canavesi"
           }
        }
      </script>



<div class="container">

     <!-- Title -->
 <h1>{{post.title}}</h1>


	<!-- post metadata -->
	<div class="d-flex mt-1">
		<div class="p-2">
			<i data-feather="heart"></i>
		</div>
		<div class="p-2">Comments</div>
		<div class="ml-auto p-2">
			<i data-feather="twitter"></i>
			<i data-feather="facebook"></i>
			<i data-feather="linkedin"></i>
		</div>
	</div>

	<h3>
		<small class="text-muted lead">Los niños pueden hacer uso de estas sillas como edad recomendada entre 1 y 12 años de edad</small>
	</h3>



 <!-- Preview Image -->
 <img class="lozad img-fluid rounded"
 src="{{post.default_loading_image}}"
 data-src="{{post.featured_image_url}}" alt="featured image">

	<p class="text-center"><small class="text-muted">Image by Unsplash</small> </p>



 <!-- Post Content -->
 {{{post.content}}}


	<div class="mt-5">
{{#each post.tags_array}}
  <a href="/tag/{{this}}" class="btn btn-secondary">{{this}}</a>
{{/each}}
	</div>

	<!-- post metadata-->
	<div class="mt-5">
		// metadata
	</div>

{{#if isAuthenticated}}
<div class="mt-3">
  <a href="{{post.url_edit}}">Edit post</a>
</div>
{{/if}}

{{#if showRelatedPosts}}
  <div id="related" class="mt-5">
    <h2>More posts</h2>
    <div class="card-columns">
      {{#each relatedPosts}}
        <div class="card">
          <img class="lozad card-img-top"
          src="{{this.default_thumb_loading_image}}"
          data-src="{{this.thumb_image_url}}" alt="image post">
          <div class="card-body">
            <a href="/post/{{this.title_seo}}">
              {{this.title}}
            </a>
            <p class="card-text">
              <small class="text-muted">Posted on {{this.created_at_friendly}}</small>
            </p>
          </div>
        </div>
      {{/each}}
    </div>

  </div> <!-- END related posts -->
{{/if}}

</div> <!-- END container -->
